/*  設定  */
// 背景圖
.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.object-fit-cover {
  object-fit: cover;
  object-position: right bottom; //定位在正中央
  height: inherit;
}

.lh-0{
  line-height: 0;
}

//通用hover
.useHover_1{
  &:hover {
    color: $secondary !important;
    border-bottom: 1px solid $secondary;
  }
}
.useHover_1{
  border-bottom: 1px solid transparent;
}