/*  全域  */
body {
  font-family: "Roboto","Noto Sans SC", sans-serif;
  line-height: 1.5;
  overflow-x: hidden; /* 確保AOS套件在RWD不會出現X軸 */
  
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

a{
  display: block;
  text-decoration: none;
}

ul ,li {
  list-style: none;
  margin-right: 0;
  padding: 0 !important;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.2;
    margin-bottom: 0;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p{
  margin-bottom: 0;
}