// detail 明細
.detail{
  padding: 80px 0 40px 0;
  &_picBox {
    height: 256px;
  }
  &_date{
    position: absolute;
    top: 53px;
    right: 26px;
  }
  &_dateData {
    color: white;
    font-size: $h5-font-size;
  }
  .buy_box{
    height: 256px;
  }
}
.site{
  margin-right: 40px;
  margin-left: 40px;
  
}