/*-- banner --*/
.banner {
  height: 480px;
  width: calc(100);
  background-size: cover;
  padding: 0;
  margin: 0;
  &_btn{
    padding: 10px 48px;
  }
}

// pad
@include pad{
  .container {
    max-width: 940px;
  }
}

// mobile
@include mobile{
  .container{
    min-width: 100%;
    justify-content: flex-end !important;
  }
}

// mobile-s
@include mobile-s{
  header .banner_data{
    padding-left: 0;
    padding-bottom: 80px;
    .banner_twoBtn{
      display: flex;
      justify-content: space-around;
      .banner_btn{
        padding: 8px 40px;
      }
    }
  }
}

// section ticket
.card_pic{
  height: 350px;
  width: 350px;
  object-fit: cover;
}
.card_date{
  writing-mode: vertical-lr; //垂直字體

}
.card_icon{
  width: 20px;
  height: 20px;
  &:hover{
    background: $wordColor_1;
  }
}
// .card_hover:hover{
//   background: red !important;
// }
