// hover
.navbarDown_detail:hover {
    color: $primary !important;
}

// mobile-s
@include mobile-s{
  .nav-scroller{
    height: 2.75rem;        /* 隱藏下方捲軸 */
    overflow-y: hidden;
    border-bottom: 1px solid $wordColor_1;  /*下底線*/
  }
  .nav-scroller .nav{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;  /* 隱藏下方捲軸 */
    overflow-x: auto;
    white-space: nowrap;
    justify-content: unset;
  }
}
