// hover
.navbarDown_detail:hover {
    color: $primary !important;
}

// mobile-s
@include mobile-s{
  .sort-list{
    padding: 14px 0;
    margin-bottom: 0;
    overflow-x: auto;
    flex-wrap: nowrap !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}